#container {
    display: grid;
    margin-top: 10px;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    
}
#sketch {
    border: 1px solid black;
}
h1 {
    display: grid;
    justify-content: center;
}
#buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.newGrid {
    border: 1px solid black
}